* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

body {
    background: rgb(175, 175, 175);
    background: linear-gradient(0deg, rgba(175, 175, 175, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

/*Header*/
.top {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.list {
    display: flex;
    list-style-type: none;
    gap: 50px;
    text-align: center;
    text-decoration: none;
    margin: auto;
}

li>a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: darkgray;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#white {
    display: none;
}

/*Inicio*/
.inicio {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.title {
    color: white;
    font-size: xx-large;
}

.title-p {
    color: white;
}

/*Servicios*/
.servicios {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.servicios>.container>.row>.col>h2 {
    padding-bottom: 50px;
    color: rgb(255, 255, 255);
}

article>h3 {
    color: rgba(246, 246, 246, 0.924);
}

article>ul>li {
    color: rgba(255, 255, 255, 0.738);
}

.servicios>.container>.row>.col>p {
    padding-top: 20px;
    color: rgb(255, 255, 255);
}

/*Quienes Somos*/
.quienes {
    text-align: center;
    margin: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quienes>.container>.row>.col>h2{
    text-align: center;
    color: white;
    padding-bottom: 50px;
}

.quienes>.container>.row>.col>article>p,
.quienes>article,
.quienes>.container>.row>.col>p {
    color: rgba(255, 255, 255, 0.738);
}

/*Contacto*/
.contact {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Estilos del formulario */
#order-form {
    border: 1px solid #000000;
    border-radius: 20px;
    width: 80%;
    max-width: 1000px;
    padding-left: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#order-form img {
    max-width: 60%;
    height: 100%;
    object-fit: fill;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#order-form form {
    width: 60%;
}

#order-form label {
    display: block;
}

#order-form input[type="text"],
#order-form input[type="number"],
#order-form input[type="email"],
#order-form select {
    border: 1px solid #000000;
    border-radius: 5px;
}

#order-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#order-form input[type="submit"]:hover {
    background-color: #45a049;
}

#order-form p {
    font-size: 14px;
}

/* Back to top button */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #515151;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
}

.back-to-top.show {
    opacity: 1;
}

/* Estilos para el modo oscuro */
.dark-mode {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(175,175,175,1) 100%);
}

.dark-mode .col-auto>h2,
.dark-mode .title,
.dark-mode .title-p,
.dark-mode h2,
.dark-mode .servicios>article>h3,
.dark-mode .servicios>article>ul>li,
.dark-mode .servicios>p,
.dark-mode .list>li>a,
.dark-mode .top {
    color: black;
}

.dark-mode #servicestitle,
.dark-mode form,
.dark-mode h2,
.dark-mode col>h2
{
    color:rgb(255, 255, 255);
}

.dark-mode .servicios>.container>.row>.col>h2 {
    color: rgb(0, 0, 0);
}

.dark-mode article>h3 {
    color: rgba(0, 0, 0, 0.924);
}

.dark-mode article>ul>li {
    color: rgba(0, 0, 0, 0.738);
}

.dark-mode .servicios>.container>.row>.col>p {
    color: rgb(0, 0, 0);
}

.dark-mode .quienes>.container>.row>.col>h2{
    color: rgb(0, 0, 0);
}

.dark-mode .quienes>.container>.row>.col>article>p,
.dark-mode .quienes>.container>.row>.col>article>ul>li,
.dark-mode .quienes>article,
.dark-mode .quienes>.container>.row>.col>p {
    color: rgba(205, 187, 187, 0.738);
}