*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;    
}

body{
    background: rgb(175,175,175);
    background: linear-gradient(0deg, rgba(175,175,175,1) 0%, rgba(0,0,0,1) 100%);
}
/*Header*/
.top{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.list{
    display: flex;
    list-style-type: none;
    gap: 50px;
    text-align: center;
    text-decoration: none;
    margin: auto;
}

li>a{
    text-decoration: none;
    color: white;
}

a:hover{
    color:darkgray;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#white{
    display: none;
}

/*Header*/
/*Inicio*/
.inicio {
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: auto;

}
.title{
    color: white;
    font-size: xx-large;
}
.title-p{
    color: white;
}
/*Inicio*/
.servicios{
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.servicios>h2{
    padding-bottom: 50px;
    color:rgb(255, 255, 255);
}
article>h3{
    color:rgba(246, 246, 246, 0.924);
}

article>ul>li{
    color:rgba(255, 255, 255, 0.738);
}

.servicios>p{
    padding-top:20px;
    color:rgb(255, 255, 255);
}

/*Quienes Somos*/
.quienes{
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.quienes>h2{
    color:white;
    margin-top: 15px;
    padding-bottom: 50px;
}

.quienes>h2,h3{
    text-align: center;
}

.quienes>p,.quienes>article{
    color:rgba(255, 255, 255, 0.738);
}
/*Quienes Somos*/
/*Contacto*/
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Estilos del formulario */
#order-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000000;
    border-radius: 20px;
    width: 80%;
    max-width: 1000px;
    height: 80vh;
    padding-left: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#order-form img {
    max-width: 60%;
    height: 100%;
    object-fit:fill;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#order-form form {
    width: 60%;
}


#order-form label {
    display: block;
}

#order-form input[type="text"],
#order-form input[type="number"],
#order-form input[type="email"],
#order-form select {
    border: 1px solid #000000;
    border-radius: 5px;
}

#order-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#order-form input[type="submit"]:hover {
    background-color: #45a049;
}

#order-form p {
    font-size: 14px;
}

/*Contacto*/

/* Estilos para el modo oscuro */
.dark-mode {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(175,175,175,1) 100%);
}

.dark-mode .title,
.dark-mode .title-p,
.dark-mode .servicios>h2,
.dark-mode .servicios>article>h3,
.dark-mode .servicios>article>ul>li,
.dark-mode .servicios>p,
.dark-mode .quienes>h2,
.dark-mode .quienes>article>h3,
.dark-mode .quienes>article>p,
.dark-mode .quienes>article>ul>li,
.dark-mode .quienes>p,
.dark-mode #order-form,
.dark-mode .list>li>a,
.dark-mode .top {
    color: black;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #515151;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.back-to-top.show {
    opacity: 1;
}